.distanceText{
    margin: 2px;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    border-radius: 5px;
    width: 100px;
    height: 20px;
}

.submitDistance{
    margin: 2px;
    margin-top: -9px;
    background-color: #363636;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
    height: 35px;
}

.submitDistance:hover {
    background-color: #575757;
}

.submitDistance:active {
    background-color: #575757;
    transform: translateY(1px);
}