.removeStopButton{
    height: 25px;
    background-color: transparent;
    border-color: red;
    color: red;
    margin-top: -10px;
    margin-bottom: 5px;
}

.removeStopButton:hover {
    transform: translateY(-2px);
}

.removeStopButton:active {
    transform: translateY(1px);
}

.removeStopIcon{
    margin-bottom: -2px;
    margin-right: 5px;
}
