.planner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.accions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}