.infoBox {
    background-color: white;
    opacity: 0.8;
    padding: 5;
    font-size: 12; 
    color: #08233B;
}

.infoBoxCloseButton{
    margin-bottom: -20px;
    margin-top: -15px;
    margin-right: 10px;
    height: 50px;
    width: 30px;
    color: red;
}

.infoBoxCloseButton:hover {
    transform: translateY(-2px);
}

.infoBoxCloseButton:active {
    transform: translateY(1px);
}

.infoBoxAddStop{
    padding: 2px;
    margin-bottom: -10px;
    margin-top: -30px;
    margin-left: -5px;
    height: 25px;
    width: 30px;
    color: green;
}

.addStopButton{
    height: 25px;
    background-color: transparent;
    border-color: green;
    color: green;
    margin-top: -10px;
    margin-bottom: 5px;
}

.addStopButton:hover {
    transform: translateY(-2px);
}

.addStopButton:active {
    transform: translateY(1px);
}