.finish{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(249, 140, 44);
    box-shadow: 0 3px 6px rgb(25 32 36 / 16%), 0 -1px 4px rgb(25 32 36 / 4%);
    border-radius: 7px;
    width: 80%;
    height: 55px;
    margin-bottom: 2%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.allTripsButton{
    margin-top: 1.5%;
    margin-bottom: 2%;
    margin-left: 5px;
    background-color: #363636;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
    height: 35px;
}

.allTripsButton:hover {
    background-color: #575757;
}

.allTripsButton:active {
    background-color: #575757;
    transform: translateY(1px);
}

.createTripButton{
    margin-top: 1.5%;
    margin-bottom: 2%;
    margin-left: 5px;
    background-color: #363636;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
    height: 35px;
}

.createTripButton:hover {
    background-color: #575757;
}

.createTripButton:active {
    background-color: #575757;
    transform: translateY(1px);
}

.sendEmail{
    margin-top: 10px;
    margin-bottom: 2%;
    margin-left: -100px;
    margin-right: 50px;
    background-color: #363636;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
    height: 35px;
}

.sendEmail:hover {
    background-color: #575757;
}

.sendEmail:active {
    background-color: #575757;
    transform: translateY(1px);
}

.emailInput{
    margin-top: 10px;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    border-radius: 5px;
    width: 250px;
    height: 20px;
}

.finishAccions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 83%;
}

.allTrips{
    background-color: #ffcc5e;
    text-align: center;
    height: 130px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    box-shadow: 0 3px 6px rgb(25 32 36 / 16%), 0 -1px 4px rgb(25 32 36 / 4%);
}

.createTrip{
    background-color: rgb(254, 142, 86);
    text-align: center;
    height: 130px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    box-shadow: 0 3px 6px rgb(25 32 36 / 16%), 0 -1px 4px rgb(25 32 36 / 4%);
}

.homePage{
    background-color: #ffcc5e;
    text-align: center;
    height: 130px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    box-shadow: 0 3px 6px rgb(25 32 36 / 16%), 0 -1px 4px rgb(25 32 36 / 4%);
}